
@(order: Form[CreateOrderForm], users: Seq[User], payments: Seq[Payment], deliveries: Seq[Delivery])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@flash.get("success").getOrElse("")

@form(routes.OrderController.addOrderHandle()) {
    @helper.CSRF.formField
    @inputText(order("price"))
    @inputText(order("address"))
    <label for="sent">Sent:</label>
    <select name="sent" id="sent">
        <option value=0 selected>No</option>
        <option value=1>Yes</option>
    </select>
    <label for="user">User:</label>
    <select name="user" id="user">
        @for(usr <- users){
            <option value="@usr.id">@usr.name</option>
        }
    </select>
    <label for="payment">Payment:</label>
    <select name="payment" id="payment">
        @for(pmt <- payments){
            <option value="@pmt.id">@pmt.name</option>
        }
    </select>
    <label for="delivery">Delivery:</label>
    <select name="delivery" id="delivery">
        @for(dlv <- deliveries){
            <option value="@dlv.id">@dlv.name</option>
        }
    </select>
    <div class="buttons">
        <input type="submit" value="Add Order"/>
    </div>
}

@footer()