
@(order: Form[CreateOrderDetailForm], orderid: Int, products: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@flash.get("success").getOrElse("")

@form(routes.OrderController.addOrderDetailHandle(orderid)) {
    @helper.CSRF.formField
    @inputText(order("price"))
    <input name="order" id="order" value="@orderid" type="hidden">
    <label for="product">Product:</label>
    <select name="product" id="product">
        @for(prd <- products){
            <option value="@prd.id">@prd.name</option>
        }
    </select>
    <div class="buttons">
        <input type="submit" value="Add Order detail"/>
    </div>
}

@footer()