@import scala.concurrent.{ExecutionContext, Future}

@(product: Form[UpdateProductForm], result: (Seq[Category], Seq[SubCategory], Seq[Manufacturer]))(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@flash.get("success").getOrElse("")


@form(routes.ProductController.updateProductHandle()) {
@helper.CSRF.formField
<input name="id" id="id" value="@product("id").value" type="hidden" />
@inputText(product("name"))
@inputText(product("description"))
@inputText(product("price"))
@inputText(product("amount"))

<select name="manufacturer" id="manufacturer">
    @for(man <- result._3){
        @if(man.id.toString==product("manufacturer").value.getOrElse(0)) {
            <option value="@man.id" selected>@man.name</option>
        }
        else{
            <option value="@man.id">@man.name</option>
        }
    }
</select>

<select name="category" id="category">
    @for(cat <- result._1){
        @if(cat.id.toString==product("category").value.getOrElse(0)) {
            <option value="@cat.id" selected>@cat.name</option>
        }
        else{
            <option value="@cat.id">@cat.name</option>
        }
    }
</select>

<select name="subcategory" id="subcategory">
    @for(subcat <- result._2){
        @if(subcat.id.toString==product("subcategory").value.getOrElse(0)) {
            <option value="@subcat.id" selected>@subcat.name</option>
        }
        else{
            <option value="@subcat.id">@subcat.name</option>
        }
    }
</select>

<div class="buttons">
    <input type="submit" value="Update Product"/>
</div>
}

@footer()