@(products: Seq[Product])

<a href="/addProduct">Dodaj produkt</a>
<ul>
    @for(product <- products) {
        <li>
            <ul>
                <li>
                    <span><b><a href="/products/@product.id">@product.name</a></b></span>
                </li>
                <li>
                    <span>Opis: @product.description</span>
                </li>
                <li>
                    <span>Cena: @product.price</span>
                </li>
                <li>
                    <span>Ilosc w magazynie: @product.amount</span>
                </li>
            </ul>
        </li>
      }
</ul>

@footer()