@(order: ((Order, User, Option[Payment], Option[Delivery]), Seq[(OrderDetail, Option[Product])]))

    <a href="/updateOrder/@order._1._1.id">Edytuj zamówienie</a>
    <a href="/addOrderDetail/@order._1._1.id">Dodaj produkty do zamówienia</a>
    <ul>
            <li>
                <p>id: @order._1._1.id</p>
                <p>firstname: @order._1._2.firstname</p>
                <p>lastname: @order._1._2.lastname</p>
                <p>userid: @order._1._2.id</p>
                <p>data: @order._1._1.date</p>
                @if(order._1._3.nonEmpty){
                    <p>platnosc: @order._1._3.get.name</p>
                }
                @if(order._1._4.nonEmpty){
                    <p>dostawa: @order._1._4.get.name</p>
                }
                <p>adres: @order._1._1.address</p>
                <p>cena: @order._1._1.price</p>
                @if(order._1._1.paid == 1){
                    <p>oplacono: tak</p>
                }
                @if(order._1._1.paid == 0){
                    <p>oplacono: nie</p>
                }
                <p>nr. paczki: @order._1._1.packageNr</p>
            </li>
            <p><b>Szczegóły zamówienia:</b></p>
            <li>
                @for(orderdetail <- order._2){
                    <a href="/updateOrderDetail/@orderdetail._1.id">Edytuj szczegóły zamówienia</a>
                    <p>id: @orderdetail._1.id</p>
                    <p>cena: @orderdetail._1.price</p>
                    @if(orderdetail._2.nonEmpty){
                        <p>nazwa produktu: @orderdetail._2.get.name</p>
                    }
                    <p>ilosc: @orderdetail._1.amount</p>
                }
            </li>
    </ul>

    @footer()