
@(order: Form[UpdateOrderForm], payments: Seq[Payment], deliveries: Seq[Delivery])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@flash.get("success").getOrElse("")

@form(routes.OrderController.updateOrderHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@order("id").value" type="hidden" />
    @inputText(order("price"))
    @inputText(order("address"))
    <label for="sent">Sent:</label>
    <select name="sent" id="sent">
        <option value=0 selected>No</option>
        <option value=1>Yes</option>
    </select>
    <label for="payment">Payment:</label>
    <select name="payment" id="payment">
        @for(pmt <- payments){
            @if(pmt.id.toString==order("payment").value.getOrElse(0)) {
                <option value="@pmt.id" selected>@pmt.name</option>
            }
            else{
                <option value="@pmt.id">@pmt.name</option>
            }
        }
    </select>
    <label for="delivery">Delivery:</label>
    <select name="delivery" id="delivery">
        @for(dlv <- deliveries){
            @if(dlv.id.toString==order("delivery").value.getOrElse(0)) {
                <option value="@dlv.id" selected>@dlv.name</option>
            }
            else{
                <option value="@dlv.id">@dlv.name</option>
            }
        }
    </select>
    <label for="paid">Paid:</label>
    <select name="paid" id="paid">
        @if(order("paid").value.getOrElse(0) == "1") {
            <option value=1 selected>True</option>
            <option value=0>False</option>
        }
        @if(order("paid").value.getOrElse(0) == "0"){
            <option value=0 selected>False</option>
            <option value=1>True</option>
        }
    </select>
    @inputText(order("packageNr"))
    <div class="buttons">
        <input type="submit" value="Update Order"/>
    </div>
}

@footer()