@(subcategory: SubCategory, products: Seq[Product])

<b>Podkategoria: @subcategory.name</b>
<a href="/updateSubCategory/@subcategory.id">Edytuj podkategorię</a>
@if(products.nonEmpty){
    <ul>
        @for(product <- products) {
            <li>
                <ul>
                    <li>
                        <span><b>@product.name</b></span>
                    </li>
                    <li>
                        <span>Opis: @product.description</span>
                    </li>
                    <li>
                        <span>Cena: @product.price</span>
                    </li>
                    <li>
                        <span>Ilosc w magazynie: @product.amount</span>
                    </li>
                </ul>
            </li>
        }
    </ul>
}

@footer()